.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 92px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  margin: 0;
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-imedge {
  min-height: 99px;
  min-width: 142px;
}

.address {
  margin-left: 184px;
  font-family: Raleway, sans-serif;
}

.address a {
  display: block;
}

.cover {
  background: url(../images/cover.jpg);
  background-size: 100% 100%;
  position: relative;
  padding: 165px 50px 50px;
  color: #ffffff;
  text-transform: uppercase;
}

.cover h1 {
  line-height: 115%;
  display: grid;
  grid-template-rows: repeat(3, 115px);
  gap: 20px;
  font-weight: 700;
  opacity: 100%;
  margin-bottom: 60px;
  margin-top: 50px;
}

.letter-spacing-extended {
  letter-spacing: 20px;
  font-size: 104px;
}

.cover__title-top {
  justify-self: start;
}

.cover__title-center {
  justify-self: center;
}

.cover__title-bottom {
  justify-self: end;
}

.cover__discription {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__discription-text {
  font-size: 25px;
  word-spacing: 6px;
  letter-spacing: Mixed;
}

.bet-button {
  font-size: 22px;
  padding: 12px 32px 11px 31px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-transform: uppercase;
}

.lots {
  margin: 180px 24px 120px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 27px;
  margin-left: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  color: #ffffff;
  margin-bottom: 30px;
}

.lots__card-list-item {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 334px;
  min-height: 596px;
  position: relative;
}

.card-link {
  height: 100%;
}

.card {
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
}

.card_type_film {
  height: 100%;
  background: url(../images/card-lot-01.jpg);
}

.card_type_book {
  height: 100%;
  background: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  height: 100%;
  background: url(../images/card-lot-03.jpg);
}

.card-link {
  text-decoration: none;
}

.card__title {
  text-decoration: underline;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.card__text {
  position: absolute;
  right: 40px;
  bottom: 48px;
  left: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin-left: 24px;
  margin-right: 24px;
}

.about_logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  padding: 64px 45px 62px 46px;
  margin-top: 35px;
  margin-left: 47px;
}

.about__column-padding {
  padding-left: 24px;
}

.about__title {
  text-transform: lowercase;
  font-weight: 700;
  font-size: 40px;
  margin-top: 146px;
  margin-bottom: 110px;
  text-transform: uppercase;
}

.about__column {
  line-height: 24px;
  font-weight: 400;
  font-size: 20px;
}

.about__column :nth-child(2) {
  margin-bottom: 24px;
}

.footer {
  margin: 180px 50px 82px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__address {
  justify-self: start;
}

.footer__menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.footer__social {
  max-height: 48px;
  max-width: 100%;
}

.footer__address {
  margin: 0;
  line-height: 24px;
  font-size: 18px;
}

.footer__menu-socials {
  list-style-type: none;
  display: flex;
  justify-self: end;
  column-gap: 48px;
}

.footer__menu-socials_icon {
  width: 48px;
  height: 48px;
  row-gap: 48px;
}
